@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300&subset=japanese');

/* Reset css */
a, body, h1, nav, ul, li {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration-line: none;
}
/* --- */


body {
    margin: 10px;
    background-color: #464646;
    /* background-image: url(../images/icamera.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;*/
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: minmax(min-content, auto);
    grid-template-rows: minmax(min-content, 100vh) repeat(3, minmax(320px, max-content));
    font-family: 'Roboto';
}

header {
    grid-row: 1 / 2;
    /* background-color: rgba(215, 220, 199, 0.9); */
    background-color: #D7DCC7;
    /* background-image: linear-gradient(to right bottom, #6495ED, #EDED95); */
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.65);
    display: grid;
    grid-row-gap: 10px;
    grid-template-rows: repeat(3, min-content);
}

header h1 {
    color: #2E2E2E;
    margin-top: 20px;
    text-align: center;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.65);
    font-size: 24px;
    font-weight: 100;
}

.my-profile-img {
    justify-self: center;
    width: 110px;
    height: 170px;
}

header nav {
    margin-bottom: 30px;
    justify-self: center;
    display: grid;
    grid-row-gap: 20px;
    grid-template-columns: minmax(240px, max-content);
    grid-template-rows: repeat(3, 60px);
}

header nav a {
    display: grid;
    background-color: #464646;
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
}

.btn {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
}

.btn:hover {
    border: 3px solid rgba(0, 0, 0, 0.65);
}

.btn:active {
    filter: invert(65%);
}

header nav a {
    align-content: center;
    justify-content: center;
}

header nav a.btn:hover {
    border: 3px solid rgba(255, 255, 255, 0.65);
}

.content-box {
    /* background-color: rgba(215, 220, 199, 0.9); */
    background-color: #D7DCC7;
    background-image: linear-gradient(#ED6495);
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.65);
}

.content-box h1 {
    margin-top: 40px;
    color: #464646;
    text-shadow: 0 0 2px rgba(122, 122, 122, 0.65);
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

#who-am-i {
    grid-row: 2 / 3;
    display: grid;
    grid-row-gap: 40px;
    grid-template-rows: repeat(2, min-content);
}

#who-am-i h1 {
    grid-row: 1 / 2;
}

#who-am-i .account-list {
    grid-row: 2 / 3;
    display: grid;
    justify-self: center; 
    grid-template-columns: repeat(3, minmax(min-content, 70px));
    grid-template-rows: minmax(min-content, 70px);
    grid-column-gap: 30px;
}

.link-box {
    background-color: #F9FEE9;
    /* background-color: #464646; */
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
    display: grid;
    align-content: center;
    justify-content: center; 
}

.link-to-github {
    color: #2e2e2e;
    /* color: #F9FEE9; */
}

.link-to-bitbucket {
    color: #0052CC;
    /* color: #F9FEE9; */
}

.link-to-qiita {
    color: #FFFFFF;
    /* background-color: #F9FEE9; */
    border-radius: 2px;
    background-color: #4cb10d;
    padding: 2px;
}

#my-works {
    grid-row: 3 / 4;
    display: grid;
    justify-content: center; 
}

#my-works .makodedit {
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 5px;
    background-color: #2E2E2E;
    display: grid;
    justify-items: center; 
    grid-template-rows: auto auto auto auto;
}

@keyframes to-front-on-z {
    to {
        transform: translateY(11px);
        box-shadow: 0 -11px 78px rgba(0, 0, 0, 0.65)
    }
}

#my-works .makodedit:hover {
    animation-name: to-front-on-z;
    animation-fill-mode: forwards;
    animation-duration: 1s;
}

#my-works .makodedit img {
    margin-top: 10px;
    width: 80%;
}
    
#skills {
    grid-row: 4 / 5;
}

#skills ul {
    margin-top: 40px;
    list-style-type: none;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 300;
    display: grid;
    justify-items: center;
    grid-row-gap: 10px;
}

#skills ul li {
    background-color: #5D5D5D;
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.5);
    padding: 2px;
}

#skills ul li:hover {
    border: 3px solid rgba(0, 0, 0, 0.65);
}
