@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300&subset=japanese");

$color_background: #2E2E2E;
$color_foreground: #E8E8E8;
$color_primary: #DCDCC7;
$color_secondary: #CBCBB6;
$color_text_light: #EDEDD8;
$color_text_dark: #2E2E2E;
$color_text_bg_light: #CBCBB6;
/* Reset css */
a, body, h1, nav, ul, li {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration-line: none;
    color: unset;
}
/* --- */

.btn {
    font-size: 22px;
    margin-left: 5.5px;
    margin-right: 5.5px;
    transition: all 250ms 0s ease;
    border-radius: 2px;
    color: $color_text_dark;
    background-color: $color_text_bg_light;
    border: 1px darken($color_text_bg_light, 22%) solid;
    border-bottom: 3px darken($color_text_bg_light, 22%) solid;
    a {
        display: block;
    }
    &:hover {
        transform: translateY(-5.5px);
        box-shadow: 0 5.5px 22px rgba(0, 0, 0, 0.50);
    }
}


.link-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;
    li {
        margin-left: 5.5px;
        margin-right: 5.5px;
        margin-bottom: 22px;
        a {
            display: inline-block;
            padding: 5.5px;
        }
    }
    li:last-child {
        margin-bottom: unset;
    }
}

body {
    background-color: $color_background;
    font-family: Roboto;
    header {
        display: flex;
        flex-direction: column;
        align-content: center;
        .welcome-content-wrap {
            display: flex;
            flex-direction: column;
            height: 90vh;
            justify-content: center;
            .welcome-content {
                display: flex;
                flex-direction: column;
                color: $color_text_light;
                align-items: center;
                // margin-top: 44px;
                // margin-bottom: 44px;
                
                h1 {
                    font-weight: 300;
                    font-size: 78px;
                    text-align: center;
                    // margin-bottom: 11px;
                    text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.65);
                }
                .my-profile-img {
                    margin-top: 11px;
                }
            }
        }
        nav {
            background-color: $color_text_bg_light;
            
            .btn {
                display: inline-block;
                padding: 11px;
            }
        }
    }
    main {
        background-color: $color_foreground;
        color: $color_text_dark;
        .main-contents {
            padding-bottom: 78px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font-size: 44px;
                text-align: center;
                margin-bottom: 44px;
            }
            h2 {
                text-align: center;
                font-size: 24px;
            }
            #about-me {
                margin-top: 44px;
                padding-bottom: 44px;
                h1 {
                    margin-bottom: 33px;
                }
            }
        }
    }
}
