@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300&subset=japanese");

$color_background: #2E2E2E;
$color_foreground: #D1D1D1;
$color_primary: #3C646A;
$color_secondary: #25A888;
$color_text_background: #B2B2B0;
/* Reset css */
a, body, h1, nav, ul, li {
    margin: 0;
    padding: 0;
}

a {
    outline: none;
    text-decoration-line: none;
    color: unset;
}
/* --- */

.btn {
    background-color: $color_secondary;
    color: $color_foreground;
    margin-left: 5.5px;
    margin-right: 5.5px;
    transition: all 250ms 0s ease;
}

.btn:hover {
    background-color: darken($color_secondary, 10%);
    color: darken($color_foreground, 10%);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.65);
}

.link-list {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    list-style: none;
    li {
        margin-left: 5.5px;
        margin-right: 5.5px;
        margin-bottom: 22px;
        font-size: 22px;
        color: darken($color_primary, 10%);
        background-color: $color_text_background;
        a {
            display: inline-block;
            padding: 5.5px;
        }
    }
    li:last-child {
        margin-bottom: unset;
    }
}

body {
    background-color: $color_background;
    font-family: Roboto;
    header {
        color: $color_foreground;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 44px;
        margin-bottom: 44px;
        h1 {
            font-weight: 300;
            font-size: 78px;
            text-align: center;
            margin-bottom: 11px;
            text-shadow: 0 -2px 1px rgba(0, 0, 0, 0.65);
        }
        @media (max-width:600px) {
            h1 {
                font-size: 39px;
            }
        }
        .welcome-message {
            position: relative;
            display: inline-block;
            margin: 11px 0;
            padding: 7px 10px;
            min-width: 120px;
            max-width: 100%;
            color: #555;
            font-size: 16px;
            background: $color_foreground;
            border-radius: 11px;
        }
        .welcome-message::before {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -15px;
            border: 15px solid transparent;
            border-top: 15px solid $color_foreground;
        }
        .my-profile-img {
            margin-top: 11px;
        }
    }
    main {
        .main-nav {
            background-color: $color_secondary;
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
            color: $color_foreground;
            font-size: 22px;
            display: flex;
            flex-direction: column;
            align-items: center;
            ul {
                display: flex;
                align-items: center;
                list-style: none;
                li {
                    margin-left: 5.5px;
                    margin-right: 5.5px;
                    a {
                        display: inline-block;
                        padding: 11px;
                    }
                }
            }
        }
        background-color: $color_foreground;
        color: $color_primary;
        .main-contents {
            padding-bottom: 78px;
            display: flex;
            flex-direction: column;
            align-items: center;
            h1 {
                font-size: 44px;
            }
            #about-me {
                margin-top: 44px;
                padding-bottom: 44px;
                border-bottom: 1px solid $color_text_background;
                h1 {
                    margin-bottom: 33px;
                }
            }
            #my-works {
                margin-top: 44px;
                padding-bottom: 44px;
                border-bottom: 1px solid $color_text_background;
            }
        }
    }
}
